<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
      <add key="PublicPackages" value="https://pkgs.dev.azure.com/microsoft/Apps/_packaging/Apps_PublicPackages/nuget/v3/index.json" />
  </packageSources>
  <config>
    <clear />
    <add key="globalPackagesFolder" value="..\packages" />
  </config>
  <config>
    <add key="dependencyversion" value="Highest" />
  </config>
</configuration>