<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <packageSources>
    <!-- Ditch all the User and Computer NuGet package sources we only want a 
         to use the ones specified in this config file -->
    <clear />
    
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <!-- Override any User and Computer NuGet package settings to gurantee
        Project only (above sources) are enabled and the only ones present. -->
    <clear />
  </disabledPackageSources>
</configuration>