<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="54101af6-3e49-41b8-a356-d76724c1ea64" Name="WingetCreateTestWixInstaller" Language="1033" Version="1.0.0.0" Manufacturer="Microsoft Corporation" UpgradeCode="53013b35-694c-465a-ba48-d8edc0003eeb">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="WingetCreateTestWixInstaller" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="WingetCreateTestWixInstaller" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="ProductComponent">
				<File Source="$(var.WingetCreateTestExeInstaller.TargetPath)" />
			</Component>
		</ComponentGroup>
	</Fragment>
</Wix>
