<?xml version="1.0" encoding="utf-8"?>

<RunSettings>
  <!-- 
  Parameters used by tests at run time. 
       WingetPkgsTestRepoOwner: The repository owner of the winget-pkgs submission test repo. (Repo owner must be forked from main "winget-pkgs-submission-test" repo)
       WingetPkgsTestRepo: The winget-pkgs test repository.
  -->
  <TestRunParameters>
    <Parameter name="WingetPkgsTestRepoOwner" value="" />
    <Parameter name="WingetPkgsTestRepo" value="winget-pkgs-submission-test" />
  </TestRunParameters>

  <RunConfiguration>
    <!-- 20 minutes in milliseconds -->
    <TestSessionTimeout>1200000</TestSessionTimeout>
  </RunConfiguration>
</RunSettings>